CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y

CONFIG_SPIRAM_MEMTEST=

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=

# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="SAOLAS2"
CONFIG_LWIP_SOCKETS_DEBUG=
#CONFIG_MBEDTLS_HARDWARE_SHA=n
# end of LWIP
